{% extends 'base.html.twig' %}

{% block title %}Exams{% endblock %}

{% block body %}
    <h1>Badania</h1>
    <a href="{{ path('params') }}">Pokaż parametry</a>
    <ul>
        {% for exam in exams %}
            <li><a href="{{ path('exam_show', {'id': exam.id}) }}">{{ exam }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}
