{% extends 'base.html.twig' %}

{% block title %}Parameters{% endblock %}

{% block body %}
    <h1>Parametry</h1>
    <a href="{{ path('homepage') }}">Pokaż badania</a>
    <a href="{{ path('add_param') }}">Dodaj nowy parametr</a>
    <ul>
        {% for param in params %}
            <li>{{ param }}</li>
        {% endfor %}
    </ul>

{% endblock %}
